{% extends "users/base.html" %}
{% block content %}
        角色列表:+<a href="{% url 'users:role-add' %}">添加角色</a><br>
        <table border="1px" style="border-collapse:collapse">
    <tr><th>角色名</th><th>包含的用户</th><th>包含的权限</th><th>操作</th>
        </tr>
        {% for role in object_list %}
                <tr>
                <td>{{role.name}}</td>
                <td>{% for role_user in role.user_set.all %}
						{{role_user.name}}
					{% endfor %}
				</td>
                <td>{% for role_perm in role.permissions.all %}
						{{role_perm.name}}
					{% endfor %}
				</td>
            	<td>
            		<a href="{% url 'users:role-update' role.id %}">修改</a>
            		<a href="{% url 'users:role-delete' role.id %}">删除</a>
            	</td>

                </tr>
        {% endfor %}
        </table>
		{% block paginator %}
            {% include 'users/paginator.html' %}
        {% endblock %}
{% endblock %}

