{% extends "base_list.html" %}
{% block list_header %}
	菜单列表:+<a href="{% url 'users:menu-add' %}">添加菜单</a><br>
{% endblock %}
{% block table %}
    <thead>
		<th>菜单名</th>
		<th>链接</th>
		<th>图标名</th>
		<th>父菜单</th>
		<th>菜单类型</th>
		<th>操作</th>
	</thead>
	{% for menu in object_list %}
		<tr>
		<td>{{menu.name}}</td>
		<td>
		{% if menu.url %}
			{{menu.url}}
		{% endif %}
		</td>
		<td>{{menu.icon_name}}</td>
		<td>{% if not menu.is_topmenu %}
			{{menu.parent_menu}}
			{% endif %}
		</td>
		<td>{% if menu.is_topmenu %}
			一级菜单
			{% else %}
			二级菜单
			{% endif %}
		</td>
		<td>
            <a href="{% url 'users:menu-update' menu.id %}">修改</a>
            <a href="{% url 'users:menu-delete' menu.id %}">删除</a>
            </td>

		</tr>
	{% endfor %}
{% endblock %}

