{% extends 'forms.html' %}
{% load crispy_forms_tags %}
{% block title %}删除用户{% endblock %}

<!-- Content Header (Page header) -->
{% block content-header %}	
<section class="content-header">
  <h1>
    删除用户
    <small></small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> 主页</a></li>
    <li class="active">用户管理</li>
    <li >删除用户</li>
  </ol>
</section>
{% endblock %}

{% block box %}
<div class="box box-danger">
  <div class="box-header with-border">
    <h3 class="box-title">
       删除用户
    </h3>
  </div>
  <!-- /.box-header -->
  <div class="box-body">
  <!-- 读取数据放入表格 -->
      <form method="post" role="form">
      {% csrf_token %}
      <p>确定要删除用户"{{ object }}"?</p>
      <input type="submit" class="btn btn-danger" value="确定">
      </form>
  </div>
  <!-- /.box-body -->
</div>
<!-- /.box -->
{% endblock %}

